name: Zero QA Demo Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  microcks-test:
    runs-on: ubuntu-latest
    steps:
      # 1. Get your code
      - uses: actions/checkout@v3

      # 2. Start the Docker Infrastructure (Microcks + Kafka)
      - name: Start Microcks & Kafka
        run: |
          docker compose -f docker-compose-final.yml up -d
          echo "Waiting 60s for containers to initialize..."
          sleep 60
          docker ps

      # 3. Import the Contract (Simulate "Upload")
      - name: Import API Contract
        run: |
          # We force the upload because the CI environment starts empty
          curl -X POST -F "file=@temperature-events-asyncapi.yaml" http://localhost:8080/api/artifact/upload

      # 4. Run the Producer (Simulate Developer App)
      - name: Run Python Producer
        run: |
          pip install confluent-kafka
          # Run in background (&) so we can proceed to the test
          python producer.py &
          echo "Producer running... waiting 10s for data flow"
          sleep 10

      - name: Run Microcks Test
        run: |
          docker run --network host --rm quay.io/microcks/microcks-cli:0.5.6 test "Temperature Events API:1.3.0" \
            --testEndpoint kafka:9092 \
            --runner ASYNC_API_SCHEMA \
            --microcksURL http://localhost:8080/api \
            --waitFor 10sec \
            --keycloakClientId microcks-serviceaccount \
            --keycloakClientSecret dummy-secret


      # # 5. Run the Microcks Test (The Quality Gate)
      # - name: Run Microcks Test
      #   uses: microcks/test-github-action@v1
      #   with:
      #     apiNameAndVersion: 'Temperature Events API:1.3.0'
      #     testEndpoint: 'kafka:9092'     # Internal Docker name
      #     runner: 'ASYNC_API_SCHEMA'
      #     microcksUrl: 'http://localhost:8080/api'
      #     waitFor: '10sec'
      #     # We disabled Keycloak in your setup, so no secrets needed!
