name: Zero QA Demo Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  microcks-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # 1. Start Docker (Inside asyncapi folder)
      - name: Start Microcks & Kafka
        run: |
          cd asyncapi
          docker compose -f docker-compose-final.yml up -d
          echo "Waiting 60s for containers to initialize..."
          sleep 60
          docker ps

      # 2. Import Contract (Inside asyncapi folder)
      - name: Import API Contract
        run: |
          curl -X POST -F "file=@asyncapi/temperature-events-asyncapi.yaml" http://localhost:8080/api/artifact/upload

      # 3. Run Producer (Inside order-service folder)
      - name: Run Python Producer
        run: |
          pip install confluent-kafka
          python order-service/producer.py &
          echo "Producer running... waiting 10s for data flow"
          sleep 10

      # 4. Run Test
      - name: Run Microcks Test
        uses: microcks/test-github-action@v1
        with:
          apiNameAndVersion: 'Temperature Events API:1.3.0'
          testEndpoint: 'kafka:9092'
          runner: 'ASYNC_API_SCHEMA'
          microcksUrl: 'http://localhost:8080/api'
          waitFor: '10sec'
