name: Zero QA Demo Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  microcks-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # 1. Start Docker (Restored 'cd asyncapi' here!)
      - name: Start Microcks & Kafka
        run: |
          cd asyncapi
          sed -i 's/KEYCLOAK_ENABLED=true/KEYCLOAK_ENABLED=false/g' docker-compose-final.yml
          docker compose -f docker-compose-final.yml up -d
          echo "Waiting 60s for containers to initialize..."
          sleep 60
          docker ps

      # 2. Import Contract
      - name: Import API Contract
        run: |
          curl -X POST -F "file=@asyncapi/temperature-events-asyncapi.yaml" http://localhost:8080/api/artifact/upload

      # 3. Run Producer
      - name: Run Python Producer
        run: |
          pip install confluent-kafka
          python order-service/producer.py &
          echo "Producer running... waiting 10s for data flow"
          sleep 10

      # 4. Run Microcks Test (Space-Separated Flags Fix)
      - name: Run Microcks Test
        run: |
          docker run --network host --rm quay.io/microcks/microcks-cli:0.5.6 test 'Temperature Events API:1.3.0' \
            --testEndpoint kafka:9092 \
            --runner ASYNC_API_SCHEMA \
            --microcksURL http://localhost:8080/api \
            --waitFor 10sec \
            --keycloakClientId microcks-serviceaccount \
            --keycloakClientSecret dummy-secret
